@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap');


/* .combinedLogoAndTitle{
    margin-left: 20px;
    float: left;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0px;
}

img, h1 {
    display: inline;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
} */

h1 {
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
}

.combinedLogoAndTitle img{
    height:30px;
}

.combinedLogoAndTitle{
    display: flex;
    align-items: center;
}