@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap');


/* .navbutton{
    float:right;
    transition: background-color .2s;
}

.navbutton a{
    display:block;
    color:white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    
}

.navbutton:hover{
    background-color: white;
}

.navbutton > a:hover{
    color: black;
} */
/* 
li{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
}
 */
